*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}
header img
{
    height:20vh;
    margin-top: 2vh;
}

img
{
  height: 60vh;
  opacity: 0.33;
}
.container img{
    height: 20vh;
}
.Skills img
{
    height: 15vh;
    opacity: 1.33;
    background-color: grey;
    border-radius: 50%;
    border: 4px solid aqua;
}
.neon
{
    color: greenyellow;
}
.project img{
    opacity: 5;
    border: 2px solid aqua;
    margin-top: 5%;
    max-width: 75vw;
    margin-bottom: 5%;

}
.footer img
{
    opacity: 2;
}
